@media only screen and (min-width: 800px) {
    body {
        background-color: red;
    }
    #text::before{
        content: "800px o más";
    }
}

@media only screen and (max-width: 799px) {
    body {
        background-color: green;
    }
    #text::before{
        content: "799px o más";
    }
}

#text{
    color: white;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}