body{
    background-color: #FFFFFD;
}

.container>.row {
    border: 2px solid black;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 0.5%; /*25px*/
    padding-right: 0.5%;
}

p{
    margin-bottom: 0px;
    margin-right: 70px;
}
    .borde {
        border-top: 2px solid #DE3646;
        padding-top: 0px;
    }

.border-lateral{
    border-left: 4px solid #373C42;
    border-right: 4px solid #373C42;
    padding-left: 10px;
    padding-right: 40px;
}

.negrita{
    font-size: 18px;
    color: #DE3646;
    font-weight: 700;
}